<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.tea.service.mapper.user.UserFeedbackMapper">
  <resultMap id="BaseResultMap" type="com.dream.tea.service.model.user.UserFeedback">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <insert id="insert" parameterType="com.dream.tea.service.model.user.UserFeedback">
    insert into user_feedback (user_id, content)
    values (#{userId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR})
  </insert>
</mapper>